<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/ico" href="static/img/auto.jpg"/>
  <title>Extreme HackNet</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/business-casual.min.css" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Welcome To!</span>
    <span class="site-heading-lower font-weight-normal">HACKATHON AT EXTREME</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">HACKATHON 2022</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('regform') }}">Sign In</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('results') }}">Results</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



   <form class="form-horizontal" action="{{ url_for('regform')}}" method="post"> 
	<div class="form-group intro-center text-center bg-faded p-5 rounded">		
      <h1 class="h3 mb-3 font-weight-normal">User Registration Form</h1>
	  <div class="col-sm-10">
      
      <label class="col-sm-2 control-label font-weight-bold" style="vertical-align:top">Username:</label>	  
		  <input name="username" id="username" size="50" required>
		  <br><br>

		  <label class="col-sm-2 control-label font-weight-bold" style="vertical-align:top"> Password:</label>
		  <input type="password" name="password" id="password" size="50" required>
      <!-- <i class="bi bi-eye-slash" id="togglePassword"></i> -->
      <br><br>

      <label class="col-sm-2 control-label font-weight-bold" style="vertical-align:top"> Email:</label>
		  <input type="email" name="email" id="email" size="50" required>
      <!-- <small id="emailHelp" class="form-text text-muted">primary email id which will be used for all communication.</small> -->

      <!-- <i class="bi bi-eye-slash" id="togglePassword"></i> -->
      <br>
      <br>

		  <label class="col-sm-2 control-label font-weight-bold" style="vertical-align:top"> Group Name:</label>
		  <input  name="group-name" id="group-name" size="50" required>
      <br><br>
      
      <label class="col-sm-2 control-label font-weight-bold" style="vertical-align:top"> Group Members:</label>
      <textarea type="text" class="col-sm-4" name="group-members" rows="4" required></textarea>

		  <br><br>
		  <!-- <button class="btn btn-lg btn-primary" type="submit">Start Automation Test</button> -->
		  
		  <!-- Button trigger modal -->
		<button type="submit" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal">
		  Submit
		</button>

		<!-- Modal -->
<!-- 		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Submission Successful!!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				The details have been successfully submitted!! <br> You will receive an confirmation in an email, after the review!! 
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Add Another</button>
			  </div>
			</div>
		  </div>
    </div> -->

	  </div>
    </div>  
   </form>

 
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Extreme Networks, Inc 2022</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
