{% extends 'head.html' %}
{% set active_page = "about" %}
{% block content %}
  
  <br><br>

  <section class="page-section about-heading">
    <div class="container">      
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading text-center mb-4">
                <span class="section-heading-upper">HACKATHON 2022</span>
                <span class="section-heading-lower">Extreme HackNET</span>
                <span class="section-heading-lower"></span>31 October 2022</span>
              </h2>
              <p>The HackNet is an open invitation to QA Engineers to participate in the Hackathon with 1-4 members size. Participants can form a group among themselves. Also team formation will be done for those who want to participate as a team. <br><br>Participate in the coding challenges every week to earn points. You will be using the code you developed during weekly challenges and design the final project on the hackathon day!! </p>
<!--               <p class="mb-0"><b>Sathish Kumar Srinivasan :</b> sasrinivasan@extremenetworks.com</p>
              <p class="mb-0"><b>Lakshmanan Kuppan :</b> lkuppan@extremenetworks.com</p>    -->          
              <p>For any suggestions/queries, please email <b> hackathon@extremenetworks.com </b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
