{% extends 'head.html' %}
{% set active_page = "challenges" %}
{% block content %}

    <form class="form-horizontal"> 
        <div class="form-group bg-faded p-5 rounded">		
          <h1 class="h3 mb-3 font-weight-normal text-dark">Weekly Challenges will be posted here every week:</h1>
          <br>        
            <div class="list-group w-25">
              <a href="#" class="list-group-item list-group-item-action active disabled">Weekly Challenges</a>
              <a href="#" class="list-group-item list-group-item-action">Week 1 Challenge</a>
              <a href="#" class="list-group-item list-group-item-action">Week 2 Challenge</a>
              <a href="#" class="list-group-item list-group-item-action">Week 3 Challenge</a>
              <a href="#" class="list-group-item list-group-item-action">Week 4 Challenge</a>
              <a href="#" class="list-group-item list-group-item-action">Week 5 Challenge</a>
            </div>
          <!-- img src="static/img/workinprogress.png" class="rotate" width="300" height="300" />  -->    
          <br><br>
        </div>  
    </form>
    
{% endblock %}